/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0e2c2a;
    color: white;
    line-height: 1.6;
}

h2 {
    text-align: center;
    color: #e6a243;
}
.header-content h1 {
    color: #0e2c2a;
    background-color: #e6a243;
}

.header-content p {
    text-align: center;
    color: #e6a243;
    margin-bottom: 1rem;
    background-color: #1a4846;
    border-radius: 6px;
    padding: 4px;
    margin-top: 8px;
    font-size: small;
}

a {
    color: #0e2c2a;
    text-decoration: none;
}

.category .pdf-list a:hover {
    background-color: #e6a243;  /* Hover color change */
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Header Styling */
header {
    background: url('images/IMG_5.jpg') no-repeat center center/cover; /* Replace with your image */
    padding: 5rem 0;
    text-align: center;
    background-color: rgba(14, 44, 42, 0.8); /* Semi-transparent dark overlay */
    color: white;
}

.header-content {
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.intro-text {
    font-size: 1.3rem;
    color: #f6f4f1;
    margin-bottom: 1.5rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.search-container {
    margin-top: 1rem;
}

#searchBar {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    font-size: 1.1rem;
    margin-top: 10px;
    background-color: white;
    color: #0e2c2a;
    border: 2px solid #0e2c2a;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 2rem;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
}

.category {
    background-color: #1a4846;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pdf-list {
    list-style-type: none;
}

.pdf-list li {
    margin-bottom: 1rem;
}

.pdf-list a {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    padding: 12px;
    border: 2px solid #0e2c2a;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.pdf-list a:hover {
    background-color: #e6a243; /* Hover color change */
    color: white;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #000;
    color: white;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    #searchBar {
        font-size: 1rem;
    }

    .pdf-list a {
        font-size: 1rem;
        padding: 10px;
    }
}

